* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: rgb(85, 85, 85);
  background-color: #f5f5dc;
}

header {
  position: fixed;
  width: 100%;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1000;
  transition: top 0.3s; 
}

.logo {
  color: darkolivegreen;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.logo :hover {
  cursor: default;
}

.nav-links {
  display: flex;
  margin-left: 110px;
  gap: 2rem;
  font-size: 2 rem;
  font-weight: 400;
}

.nav-links a {
  color: rgb(85, 85, 85);
}

.nav-links a:hover {
  color: grey;
  text-decoration: underline;
}

.active a {
  font-weight: bold;
}

a {
  transition: all 500ms ease;
}

#menu-icon {
  height: 25px;
  width: 30px;
  cursor: pointer;
  color: rgb(85, 85, 85);
}

h1 span {
  font-size: larger;
  font-weight: 900;
  color: olivedrab;
}

h5 a {
  color: rgb(85, 85, 85);
  cursor: pointer;
  font-weight: 400;
}

.profile-image {
  width: 320px;
  height: auto;
  margin-right: 30px;
}

.profile {
  width: 150%;
  height: 100vh;
  padding: 60px 20% 80px;
  display: flex;
  align-items: center;
  gap: 55px;
}

.profile-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
